.listProduct {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 100%;
    overflow-x: auto;

}

@media (min-width: 900px) {
    .listProduct {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 1rem;
    }
}