@import '../../styles/global.scss';

.HeaderContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: var(--color-grey-0);
    padding-top: 2rem;
    padding-left: 1rem;
}

.CartContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.CartButton{
    position: absolute;
    top: 1;
    right: 0;
    margin-right: 1rem;
}

.HeaderForm{
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.HeaderInput {
    display: flex;
    width: 50%;
    border: 1px solid;
 
}

