.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:18.75rem;
    min-height: 22.25rem;
    border-radius: 0.3125rem;
    background-color: var(--color-grey-0);
    border: 2px solid var(--color-grey-600);
    

    img {
        width: 177px;
        object-fit: fill;
        height: 177px;
    }
}



.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    gap: 1rem;
    padding: 20px 20px;
    background-color: #FFFFFF;
}

.productImg{
    width: 100%;
    background-color: var(--color-grey-0);
    height: 150px;
}